a {
  cursor: pointer;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.navbar {
  width: 100vw;
  background-color: #ffffff;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 112px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.logo-dashboard {
  height: 32px;
  width: auto;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 100%;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #489FF6;
}

.finance-card-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 48px 112px;
  box-sizing: border-box;
}

.finance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 140px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

  .ui-balance {
    color: #428AF8;
  }

  .table-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 122px;
    box-sizing: border-box;
  }

  .table-content {
    display: flex;
    width: 100%;
    height: 592px;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .table-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    box-sizing: border-box;

  }

  button.add {
    width: 90px;
    height: 36px;
    background-color: #fff;
    color: #010400;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px #428AF8 solid;
    transition: all 0.3s ease-in-out;
  }

  button.add:hover {
    color: #fff;
    background-color: #428AF8 ;
    border: 2px transparent solid;
    transform: translateY(3px);
  }

  table {
    width: 100%;
  }

  th {
    color: #7C7C7C;
    text-align: left;
  }
  td {
    color: #7C7C7C;
    text-align: left;
  }

  th.center {
    text-align: center;
  }

  th.right {
    text-align: right;
  }

  td.center {
    text-align: center;
  }

  td.right {
    text-align: right;
  }

  tr {
    height: 2rem;
    font-weight: 500;
  }

  .modal-background {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 4, 0, 0.2);
    animation:fadein .5s;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  
.modal-content {
  height: 100%;
  width: 480px;
  background-color: #f4f4f9;
  padding: 24px;
  box-sizing: border-box;
}

.modal-content-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}